# Dependencies
node_modules/

# Build outputs
/dist/
/build/
/tmp/

# Environment & secrets
.env
.env.*
*.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage reports
coverage/

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Misc
*.swp
